{:paths ["src" "resources"]
 :deps  {}

 :aliases
 {:dev
  {}

  :test
  {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.69.1069"}
                nubank/matcher-combinators    {:mvn/version "3.5.0"}
                org.clojure/data.xml          {:mvn/version "0.0.8"}
                lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}}}}
